---
- hosts: local
  tasks:
    - name: Remove Past version of Docker
      dnf:
        name: "{{ item }}"
        state: absent
      loop:
        - docker
        - docker-client
        - docker-client-latest
        - docker-common
        - docker-latest
        - docker-latest-logrotate
        - docker-logrotate
        - docker-selinux
        - docker-engine-selinux
        - docker-engine
    - name: Download dnf plugins
      dnf:
        name: dnf-plugins-core
        state: latest
    - name: Add Docker repository
      command:
        cmd: dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
    - name: Install Docker
      dnf:
        name: "{{ item }}"
        state: latest
      loop:
        - docker-ce
        - docker-ce-cli
        - containerd.io
    - name: Enable Docker
      service:
        name: docker.socket
        enabled: true
        state: started
    - name: Install docker_container dependency
      pip:
        name: docker-py
        state: latest
    - name: Run Container
      docker_container:
        name: hello-world-test
        image: hello-world:latest

